* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

main {
    margin-top: 69px;
}

ion-icon {
    cursor: pointer;
}

.titulo-buzz-quizz {
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.lista-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 146px auto 0px;
    width: 1051px;
}

.lista-vazia-quizz {
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px #D4D4D4 dashed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-vazia-quizz span {
    width: 250px;
    display: flex;
    text-align: center;
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #B9B9B9;
    margin-top: 30px;
}

.botao-criar-quizz {
    border-radius: 50px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    font-family: roboto;
    font-weight: 400;
    font-size: 21px;
    padding: 8px 24px;
    margin: 31px auto;
    cursor: pointer;
}

.lista-seus-quizzes {
    width: 100%;
}

.lista-seus-quizzes header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.titulo-buzz-quizz h1 {
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
    cursor: pointer;
}

.lista-seus-quizzes header h1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
}

.lista-seus-quizzes header ion-icon {
    font-size: 30px;
    color: #EC362D;
    margin: auto 16px;
}

.lista-seus-quizzes ul {
    display: flex;
    flex-wrap: wrap;
}

.lista-todos-os-quizzes {
    width: 100%;
    margin: 48px 0px;
}

.lista-todos-os-quizzes header h1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

.lista-todos-os-quizzes ul {
    display: flex;
    flex-wrap: wrap;
}

.pagina-quizz {
    word-break: break-word;
}

.pagina-quizz .banner-quizz {
    width: 100%;
    height: 227px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 39px;
    line-height: 46px;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    margin-bottom: 44px;
}

.pagina-quizz .banner-quizz .banner-image {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.pagina-quizz .banner-quizz .titulo-quizz {
    z-index: 1;
    position: absolute;
}

.pagina-quizz .questoes-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta {
    width: 759px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 44px;
    padding: 28px 35px 35px 35px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    scroll-margin-top: 80px;
}
.titulo-pergunta {
    width: 100%;
    height: 138px;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    color: #FFFFFF;
}

.respostas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resposta {
    width: 330px;

    display: flex;
    flex-direction: column;
    margin: 0 25px 18px 0;
}

.resposta:nth-child(2n) {
    margin-right: 0;
}

.imagem-resposta {
    width: 100%;
    height: 175px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.resposta img {
    width: 100%;
}

.resposta span {
    width: 100%;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    
}

.resultado-quizz {
    width: 759px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 18px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    scroll-margin-top: 80px;
}

.resultado-quizz header {
    width: 100%;
    padding: 22px 20px 22px 20px;
    margin-bottom: 18px;

    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    background-color: #EC362D;
}

.pagina-quizz .resultado-quizz .resultados {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resultado-quizz img {
    width: 364px;
    height: auto;
}

.resultado-quizz span {
    width: 328px;

    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    
    color: #484848;
}

.pagina-quizz .reiniciar {
    width: 260px;
    height: 52px;
    display: block;
    margin-top: 20px;
    margin: 57px auto 20px;
    background-color: #EC362D;
    border-radius: 15px;
    font-size: 21px;
    color: #FFF5F4;
    outline-style: none;
    border: 0;
    cursor: pointer;
}

.home {
    display: block;
    margin: 0 auto 50px;
    color: #818181;
    font-size: 21px;
    background-color: inherit;
    outline-style: none;
    border: 0;
    cursor: pointer;
}

.quizz-listado {
    width: 340px;
    height: 181px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    cursor: pointer;
    margin: 0 15px 12px 0;
}

.quizz-finalizado {
    width: 500px;
    height: 266px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 45px;
}

.quizz-listado:nth-child(3n) {
    margin-right: 0;
}

.quizz-listado img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.quizz-finalizado img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.quizz-listado span {
    width: 88%;
    display: flex;
    text-align: left;

    word-wrap: break-word;
    word-break: break-all;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 15px;

    color: #FFFFFF;
}

.quizz-finalizado span {
    width: 88%;
    display: flex;
    text-align: left;

    word-wrap: break-word;
    word-break: break-all;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 18px;

    color: #FFFFFF;
}

.novo-quizz-pronto .botao-etapa {
    margin-bottom: 15px;
}

.verde {
    color: #009C22;
}

.vermelho {
    color: #FF4B4B;
}

.opaco {
    opacity: 0.3;
}

.criar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etapa {
    margin: 63px 0 35px 0;

    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    
    display: flex;
    align-items: center;
}

.criar-quizz {
    width: 600px;
    height: auto;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 22px;
}

.criar-quizz:last-of-type {
    margin-bottom: 80px;
}

input {
    width: 100%;
    height: 46px;
    margin-bottom: 9px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: inherit;
    padding: 0 23px;

    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}
input::placeholder {
    color: #BABABA;
    font-style: italic;
}
input:last-child {
    margin-bottom: 0;
}
.botao-etapa {
    padding: 0 40px;
    height: 54px;
    border-radius: 15px;
    border: 0;
    cursor: pointer;

    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    
    background-color: #EC362D;
    color: #FFF5F4;
}
.criar-quizz h2 {
margin-bottom: 16px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.perguntas input:nth-of-type(2n) {
    margin-bottom: 32px;
}

.perguntas input:last-of-type {
    margin-bottom: 0px;
}

.fechado h2 {
    margin-bottom: 0px;
}

.fechado {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.escondido {
    display: none;
}
button:last-of-type {
    margin-bottom: 200px;
}

@media (max-width: 1100px) {
    main {
        max-width: 100%;
    }
    .lista-quizz {
        width: 95%;
        margin-top: 106px;
    }
    .lista-quizz > * {
        width: 100%;
    }
    .lista-seus-quizzes > * {
        width: 100%;
    }
    .lista-todos-os-quizzes {
        margin-top: 20px
    }
    .lista-todos-os-quizzes > * {
        width: 100%;
    }
    .quizz-listado {
        width: 100%;
        height: 200px;
        margin: 0px 0px 12px 0px;
    }
    

    .pagina-quizz .banner-quizz {
        height: 160px;
        font-size: 19px;
        line-height: 22px;
    }
    .pergunta {
        width: 100%;
        padding: 18px;
    }
    .titulo-pergunta {
        padding: 0 16px;
        font-size: 19px;
        line-height: 22px;
    }
    .resposta {
        width: 48%;
        margin: 0px 12px 12px 0px;
    }
    .resposta span {
        font-size: 13px;
        line-height: 15px;
    }
    .imagem-resposta {
        height: 120px;
    }
    .respostas {
        width: 100%;

    }
    .resultado-quizz {
        width: 100%;
    }
    .resultado-quizz header {
        font-size: 19px;
        line-height: 22px;
    }
    .resultado-quizz img {
        width: 100%;
    }
    .resultado-quizz span {
        font-size: 17px;
        line-height: 20px;
    }

    .criar-quizz {
        width: 100%;
    }
    .etapa {
        margin-top: 37px;
    }
    .criar-quizz:last-of-type {
        margin-bottom: 29px;
    }
    .quizz-finalizado {
        width: 92%;
        height: 220px;
        margin-bottom: 24px;
    }
}