@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

.bar-border {
    background-color: #dbdbdb;
    height: 1px;
    width: 100vw;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

/* Configuracoes da barra do topo */
.barra-topo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    color: #000000;
    z-index: 1; 
}

.top-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 935px;
    height: 60px;
    padding: 0 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo ion-icon {
    font-size: 25px;
    margin-right: 10px;
}

.logo ion-icon:last-child {
    display: none;
}

.logo > img {
    margin-top: 5px;
}

.logo > div {
    width: 1px;
    height: 20px;
    background-color: #dbdbdb;
    margin-right: 10px;
}

.search input {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    color: #000000;
    height: 30px;
    width: 200px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons ion-icon {
    font-size: 25px;
    margin-left: 20px;
}

.site-content {
    margin-top: 88px;
    width: 935px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.posts-content {
    width: 614px;
    overflow: hidden;
}

.stories-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    position: relative;
}

.stories-container > ion-icon {
    position: absolute;
    top: 30%;
    right: 0px;
    font-size: 35px;
    color: #ffffff;
    text-shadow: 10px 2px black;
}

.stories-box {
    display: flex;
    width: 60px;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 20px;
}

.stories-box > p {
    color: #262626;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

.storie-img {
    position: relative;
}

.profile-img {
    position: absolute;
    width: 52px;
    height: auto;
    top: 4px;
    left: 4px;
}

.background-img{
    width: 60px;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin: 24px 0 36px 0;
}

.top-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 20px 0;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info > img {
    width: 40px;
    height: auto;
    margin-right: 20px;
}

.profile-info > p {
    font-size: 14px;
    font-weight: 500;
}

.post > img {
    width: 100%;
    height: auto;
}

.actions-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 10px 0;
}

.actions-bar ion-icon {
    font-size: 25px;
}

.left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side ion-icon {
    margin-right: 15px;
}

.liked-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    margin: 15px 0;
}

.liked-info > img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.liked-info > p {
    font-size: 14px;
}

.liked-info  span {
    font-weight: bold;
}

.sidebar {
    width: 293px;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0;
}

.profile > img {
    width: 52px;
    height: auto;
    margin-right: 20px;
}

.profile > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile p {
    font-size: 14px;
    color: #8e8e8e;
}

.profile p:first-child {
    color: #262626;
    font-weight: bold;
}

.suggestions > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.suggestions > div:first-child > p:first-child {
    color: #8e8e8e;
    font-size: 12px;
}

.suggestions > div:first-child > p:last-child {
    color: #262626;
    font-size: 12px;
    font-weight: bold;
}

.suggestion > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion img {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.suggestion div p:first-child {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.suggestion div p:last-child {
    color: #8e8e8e;
    font-size: 12px;
}

.suggestion > button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 12px;
    color: #139EF2;
    font-weight: bold;
}

.site-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 11px;
    color: #c7c7c7;
}

.site-info > p {
    margin-top: 20px;
}

@media screen and (max-width: 935px) {
    .sidebar {
        display: none;
    }

    .top-bar-content {
        width: 100%;
        padding: 0 20px;
    }

    .site-content {
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 614px) {
    .logo {
        width: 100%;
        justify-content: space-between;
    }

    .logo > div {
        display: none;
    }

    .logo ion-icon:last-child {
        display: inline;
    }

    .search {
        display: none;
    }

    .icons {
        display: none;
    }

    .site-content {
        width: 100%;
        padding: 0;
        margin-top: 60px;
    }

    .stories-container {
        border-radius: 0px;
    }

    .stories-container > ion-icon {
        display: none;
    }
    
}