* {
    box-sizing: border-box;
}

body{
    background: #effabf;
    font-family: 'Roboto';
}

h1{
    width: 100%;
    font-weight: bold;
    font-size: 50px;
    color: #7ab08e;
    text-align: center;
    margin: 50px 0px;
}


.tabuleiro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.seletor {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.carta {
    width: 117px;
    height: 146px;
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
}

.carta:active {
    transform: scale(0.98);
}

.face {
    width: 100%;
    height: 100%;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.carta img {
    width: 100px;
    height: 100px;
}

.back-face {
    transform: rotateY(180deg);
}

.virar {
    transform: rotateY(-180deg);
}

.desvirar {
    transform: rotateY(0deg);
}

.relogio {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 30px;
    margin-top: 30px;
    background: black;
    border-radius: 80%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

@media (max-width: 614px){

    h1 {
        text-align: center;
    }
    
    .tabuleiro {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .relogio {
        width: 20px;
        height: 8px;
        background: none;
        border-radius: none;
        border: none;
        color: black;
        margin-right: 25px;
        margin-top: 20px;
    }
}