body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  background-color: #E5E5E5;
  }

.menu {
  width: 100vw;
  height: 80px;
  position: fixed;
  right: 0;
  z-index: 1;
  display: flex;
  padding: 15px 25px;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  top: 0;
  padding: 15px 25px;
  font-size: 40px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.menu img {
    width: 75px;
    height: 53px;
    margin-left: 50px;
    margin-bottom: 10px;
}

main {
  width: 100%;
  height: 100%;
  margin: 80px 0;
  font-size: 14px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

footer {
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0px;
  bottom: 0px;
  background: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 17px;
  padding-right: 17px;
  z-index: 3; 
}

.entrada-mensagem {
  height: 30px;
}

.entrada-mensagem input {
  width: 300px;
  border: none;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

button{
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  box-sizing: border-box;
}

.icon-footer{
  font-size: 26px;
  box-shadow: none;
}