body{
    font-family: 'Roboto', sans-serif;
    width: 1366px;
    justify-content: center;
}
.conteudo{
    display: flex;
}
.topo {
    display: flex;
    justify-content: space-around;
    width: 1366px;
    height: 54px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
   
}
.topo-esquerdo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 175px;
    }

.border{
width: 1px;
height: 22px;
left: 247px;
top: 15px;
background: #DBDBDB;
}

.instagram-logo{
width: 103px;
height: 29px;
left: 258px;
top: 15px;
}

.topo-central{
    position: absolute;
    width: 215px;
    height: 28px;
    left: 575px;
    top: 13px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    }
    .pesquisar{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #979797;
    margin-top: 6px;
    }
    .topo-direito{
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    .conteudo{
        display: flex
        width: 1366px;
    }
    .stories{
    display: flex;
    width: 614px;
    height: 118px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 215px;
    }
    .background-image{
        display: flex;
        position: absolute;
        width: 66px;
        height: 66px;
        left: 233px;
        background: url(/imagens/stories_background.jpg);
        border-radius: 33px;
         }

     img {
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: space-around;
    margin-right: 19px;
    }
    .posts{
        margin-top: 24px;
        margin-left: 215px;
    }
    .primeiro-post{
    width: 614px;
    height: 749px;
    left: 215px;
    top: 230px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
   
    }
    .retangulo-superior{
    width: 614px;
    height: 62px;
    left: 215px;
    top: 230px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    }
    .meowed {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 17px;
    
    }
     .barked {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 17px;
    }

    .legenda-post{
    width: 109px;
    height: 21px;
    left: 279px;
    top: 251px;
    font-family: Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #262626;
    }
    .tres-pontos{
        margin-left: 400px;
    }
    .gato-telefone{
    width: 612px;
    height: 612px;
    left: 216px;
    top: 291px;
    }
    .retangulo-inferior{
    }
    .heart{
        margin-left: 17.75px;
        margin-top: 13.44px;
    }
    .chatbubble{
        margin-left: 10px;
        margin-top: 13.44px;
        margin-right: 10px;
    }
    .paper-plane{
        margin-top: 13.44px;
    }
    .bookmark{
        margin-top: 13.44px;
        margin-left: 485px;
    }
    .curtidas{
        display: flex;
        position: relative;
    }
    .respondeai{
    width: 20px;
    height: 20px;
    left: 232px;
    top: 945px;
    border-radius: 10px;
    margin-left: 17px;
    margin-top: 10px;
    }
    .legenda-curtidas{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    color: #000000;
    }
    .espaco-posts{
        margin-top: 60px;
    }
    .segundo-post{
        width: 614px;
        height: 749px;
        left: 215px;
        top: 230px;
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        box-sizing: border-box;
        border-radius: 3px;
        margin-top: 60px;
        }
        .terceiro-post{
        width: 614px;
        height: 749px;
        left: 215px;
        top: 230px;
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        box-sizing: border-box;
        border-radius: 3px;
        margin-top: 60px;
        }
        .lado-direito{
        }
    .sidebar{
        display: flex;
        width: 293px;
        margin-top: 50px;
        margin-left: 28px;
      
    }
    .titulo-sidebar{
        width: 182px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        margin-top: 15px;
    }
    .subtitulo-sidebar{
    width: 182px;
    height: 34px;
    font-family: 'Roboto';
    color: lightgrey;
    margin-top: 1px;
    }
    .catanacomics{
        width: 56px;
        height: 56px;
    }
    .sugestoes{
        display: flex;
        margin-left: 28px;
        margin-top: 15px;
        width: 293px;
    }
    .texto-sugestoes{
    width: 117px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #8E8E8E;
    }
    .ver-tudo{
width: 55px;
height: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
text-align: right;
color: #262626;
margin-left: 90px;
    }
    .seguidores{
        display: flex;
        position: relative;
    }
    .img-seguidores{
    width: 40px;
    height: 40px;
    border-radius: 16px;
    margin-top: 10px;
    margin-left: 10px;
    }
    .nome-seguidores-segue-voce{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    .nome-seguidores{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: #262626;
    
    
    }
    .segue-voce{
    width: 143px;
    height: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #8E8E8E;
    margin-top: 8px;
    margin-left: 0px;

    }

    .seguir{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        color: #139EF2;
        width: 36px;
        height: 11px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        margin-top: 27px;
    }
    
    .sobre{
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;

color: #C7C7C7;
width: 300px;
height: 42px;
margin-top: 20px;
margin-left: 20px;
    }

    .instagram-do-facebook{
        width: 300px;
height: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;

color: #C7C7C7;
margin-top: 20px;
margin-left: 20px;
    }

    @media (max-width: 935px) {
        .lado-direito {
            display: none;
        }
        .conteudo {
            justify-content: center;
            align-items: center;
            margin-right: 200px;
        }
    }

    @media (max-width: 614px) {
        .topo{
            position: fixed;
	width: 100%;
        }
    }